<h2><%= html_title l(:label_projects) %></h2>
<table class="list">
  <thead><tr>
    <th><%= l(:label_name) %></th>
    <th><%= l(:label_notes) %></th>
  </thead></tr>
<% @testprojects.each do |testproject| %>
  <% p testproject -%>
  <tr class="<%= cycle("odd", "even") %>">
    <td>
      <%= link_to testproject.name, {:action => "show",
                                     :id => testproject.id}
      %>
    </td>
    <td><%= testproject.notes %></td>
  </tr>
<% end %>
</table>

